* {
  box-sizing: border-box;
}

.sortable {
  li {
    display: block;
    padding: 10px;
    border: solid 1px gray;
    width: 400px;
    overflow: hidden;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.child {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }

    &.header {
      background: #eee;
    }
  }

  .sortable-placeholder {
    border: dashed 1px #ddd;
  }

  li + li {
    margin-top: 5px;
  }
}

.overview-parent-children {
  margin-top: 40px;
  .group {
    width: 400px;
    float: left;
  }

  .group + .group {
    margin-left: 30px;
  }
}

ul {
  margin: 0;
  padding: 0;
}
